<h2>edit course</h2>
<%= form_for @course do|f|%>
<div>
course
<%=f.text_field :name %>
</div>

<div>
teacher
<%=f.text_field :teacher %>
</div>
<div>

classroom
<%=f.text_field :classroom %>
</div>

<div>
time
<%=f.text_field :time %>
</div>

<div>
credit
<%=f.text_field :credit %>
</div>

<%=f.submit%>
<%end%>